# fichiers cachés ou temporaires de Mac OS
.DS_Store
~*

# dossier de réglages de PHPStorm
.idea/
**/.idea/

bower_components/
node_modules/
**/css/

# dossier de cache de sass
.sass-cache/
**/.sass-cache/
